*{box-sizing: border-box;
margin: 0px;}
body{font-family: 'Times New Roman', Times, serif;
background-color: #E0F7FA;}
.container{width: 1200px;
height: 200px;
margin-right: auto;
margin-left: auto;
display: flex;

justify-content: center;
align-items: center;}
.box-blue{height: 200px;
width: 200px;
background-color: #4CAF50;}
.box-red{height: 100px;
width: 200px;
background-color:red;}
.box-orange{height: 150px;
width: 200px;
background-color: orange;}