ul{
    background-color:rgb(97, 97, 97);
    padding: 5px;
    margin: 0px;
    height: 60px;
}
.head{list-style-type: none; float: left; margin: 10px; position: relative;}



.head > a {
    color: aliceblue;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
   
    display: block;
    border-radius: 20px;
    transition: bachground-color 300ms;
}
.head > a:hover{
    background-color: green;
}
.submenu{
    display: none;
    position: absolute;
    background-color:rgb(174, 213, 129);
    overflow: hidden;
    margin: 5px;
    transition-delay: 1s;
    transition: opacity 300ms;
    opacity: 0;
}
.a-subhead
{   display: block;
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}
.head:hover .submenu{
    display: block;
    border-radius: 10px;
    opacity: 1;
}
